@model DateTime

<div class="control-group">
    @Html.LabelFor(x => x, new { @class = "control-label" })
    <div class="controls">
        <span class="input-xlarge uneditable-input">@Html.ValueFor(x => x, "{r}")</span>
    </div>
</div>