
<div id="sidebar-left" class="span2">
    <div class="nav-collapse sidebar-nav">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="@Url.Action("Index","Dashboard")"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Dashboard</span></a></li>
            <li>
            <li><a href="@Url.Action("Index","Contact")"><i class="icon-bar-chart"></i><span class="hidden-tablet"> Contact</span></a></li>
            <li>
</ul>
    </div>
</div>
