<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-header" data-original-title>
            <h2><i class="halflings-icon white edit"></i><span class="break"></span>Mesaj</h2>
            <div class="box-icon">
            </div>
        </div>
        <div class="box-content" id="showModel">

            @Html.Partial("Show")

        </div>
    </div><!--/span-->
</div><!--/row-->