<!-- HEADER -->
<header>

    <!-- MENU BLOCK -->
    <div class="menu_block">

        <!-- CONTAINER -->
        <div class="container clearfix">

            <!-- LOGO -->
            <div class="logo pull-left">
                <a href="@Url.Action("Index", "Home", new {area = ""})"><span class="b1">w</span><span class="b2">h</span><span class="b3">i</span><span class="b4">t</span><span class="b5">e</span></a>
            </div><!-- //LOGO -->
            <!-- SEARCH FORM -->
            <div id="search-form" class="pull-right">
                <form method="get" action="#">
                    <input type="text" name="Search" value="Search" onFocus="if (this.value == 'Search') this.value = '';" onBlur="if (this.value == '') this.value = 'Search';" />
                </form>
            </div><!-- SEARCH FORM -->
            <!-- MENU -->
            <div class="pull-right">
                <nav class="navmenu center">
                    <ul>
                        <li class="first scroll_btn"><a href="@Url.Action("Index", "Home", new {area = ""})">Home</a></li>
                        <li class="scroll_btn"><a href="@Url.Action("Blog", "Home", new {area = ""})">Blog</a></li>
                        @*<li class="scroll_btn"><a href="index.html#projects">Projects</a></li>
                        <li class="scroll_btn"><a href="index.html#team">Team</a></li>
                        <li class="scroll_btn"><a href="index.html#news">News</a></li>
                        <li class="scroll_btn last"><a href="index.html#contacts">Contacts</a></li>
                        <li class="sub-menu active">
                            <a href="javascript:void(0);">Pages</a>
                            <ul>
                                <li class="active"><a href="blog.html">Blog</a></li>
                                <li><a href="blog-post.html">Blog Post</a></li>
                                <li><a href="portfolio-post.html">Portfolio Single Work</a></li>
                            </ul>
                        </li>*@
                    </ul>
                </nav>
            </div><!-- //MENU -->
        </div><!-- //MENU BLOCK -->
    </div><!-- //CONTAINER -->
</header><!-- //HEADER -->