@model Enum

@{
    var items = (List<SelectListItem>) ViewBag.items;
    if (Model != null && items.Any(x => x.Value == Model.ToString()))
    {
        var selected = items.FirstOrDefault(x => x.Value == Model.ToString());
        selected.Selected = true;
    }
}

<div class="control-group hidden-phone @(IsPost ? ViewData.ModelState.IsValidField(Html.NameFor(x => x).ToString()) ? "success" : "error" : "")">
    @Html.LabelFor(x => x, new { @class = "control-label" })
    <div class="controls">
        @Html.DropDownListFor(x => x, items, new { data_rel = "chosen" })
    </div>
</div>